<a href="/genres/<%=@genre.id%>/<%=@story.id%>">Back to <%=@genre.genre%></a>
<h1 class="text-center"><%=@story.title%></h1>
<p class="story"><%=@story.content%></p>
<h2 class="text-center"><%=@story.author%></h2>
