<h1 class="text-center big-header"><%=@story.title%></h1>
<p class="story"><%=@story.content%></p>
<h3 class="text-center author">-<%=@story.author%></h3>
<div class="row">
    <a class="btn black-button col-xs-4 col-xs-offset-1" href="/genres/">Home</a>

    <a class="btn navy-button col-xs-4 col-xs-offset-2" href="/genres/<%=@genre.id%>"><%=@genre.genre%></a>
</div>
